.wrapper-form {
    padding: 24px 24px 12px 24px;
    // display: flex;
    justify-content: center;
    background-color: white;
    width: 408px;
    height: 740px;
    & h2 {
        margin-left: -10px;
        font-weight: 600px !important;
        border-left: 4px solid #1f3998;
        margin-left: -24px;
        padding-left: 24px;
    }
}
.fill-infor {
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    height: 623px;
    justify-content: space-around;
}
.fill-infor-name {
    display: flex;
    flex-direction: column;
    & label {
        font-size: 12px;
        font-weight: 600;
        padding-bottom: 4px;
    }
    input {
        width: 100%;
        height: 44.14px;
        padding: 8.5px 11px;
    }
}
.fill-infor-email {
    display: flex;
    flex-direction: column;
    & label {
        font-size: 12px;
        font-weight: 600;
        padding-bottom: 4px;
    }
    input {
        width: 100%;
        height: 44.14px;
        padding: 8.5px 11px;
    }
}
.fill-infor-phone {
    display: flex;
    flex-direction: column;
    & label {
        font-size: 12px;
        font-weight: 600;
        padding-bottom: 4px;
    }
    input {
        width: 100%;
        height: 44.14px;
        padding: 8.5px 11px;
    }
    select {
        width: 100%;
        height: 44.14px;
        padding: 8.5px 11px;
        background-color: #f0f2f5;
        & option {
            background-color: #fff;
            cursor: pointer;
            width: 100%;
            height: 44.14px;
            padding: 8.5px 11px;
        }
    }
}
.footer {
    display: flex;
    margin-top: 20px;
    border-top: solid 1px;
    justify-content: flex-end;
    align-content: flex-start;
    padding-top: 10px;
    & button:first-child {
        height: 40px;
        border: solid 0.5px;
        margin-left: 16px;
        font-weight: 600;
        padding: 8px 15px;
    }
    button:last-child {
        font-weight: 600;
        color: #fff;
        background-color: var(--primary);
        height: 40px;
        border: solid 0.5px;
        margin-left: 16px;
        padding: 8px 15px;
    }
}
