.container {
    display: flex;
    // width: 100%;
}
.container {
    margin-top: 64px;
}
.content {
    position: absolute;
    width: 1121px;
    left: 228px;
    background-color: #f0f2f5;
    padding: 24px;
    height: auto;
    overflow-x: scroll;
    overflow-y: scroll;
}
