{
    "plugins": [
        ["import", { "libraryName": "antd", "libraryDirectory": "lib" }, "antd"],
        [
            "module-resolver",
            {
                "alias": {
                    "~": "./src"
                }
            }
        ]
    ]
}
