.wrapper {
    display: flex;
    // justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.07);
    z-index: 1000;
    // transform: translate(50%, 50%);
}

.modal-styles {
    // margin: 100px 383px;
    // height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    margin-left: 50%;
    height: 40px;
    // background-color: rgba(0, 0, 0, 0.07);

    margin-top: 200px;
    margin-bottom: 20px;
    // padding: 30px 50px;
    // text-align: center;
    // background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}
