.wrapper {
    padding: 24px 0;
}
.header {
    display: flex;
    justify-content: space-between;
    height: 56px;
    // align-items: center;
    & .title {
        color: var(--primary);
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
    }
}
// .custom-table {
//     margin-top: -30px;
// }

.footer {
    display: flex;
    justify-content: space-between;
    background-color: hsla(0, 0%, 89.7%, 0.9);
    align-items: center;
}
.select-btn {
    background-color: hsla(0, 0%, 89.7%, 0.9);
    height: 40px;
    width: 92px;
    padding: 0 10px;
    font-size: 12px;
    &:active {
        border: solid 1px var(--primary);
    }
    &:hover {
        border: solid 1px var(--primary);

        cursor: pointer;
    }
}
.drop-submenu-active {
    display: block;
}
.drop-submenu {
    display: none;
}
